#main {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#title {
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	font-family: 'Domine', serif;
	font-weight: 700;
}

#main p {
	text-align: center;
	padding-bottom: 20px;
}

#image {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 100%;
}

#img-caption {
	padding: 20px;
	text-align: center;
}

#img-div {
	padding: 50px;
	background-color: orange;
}

#tribute-info h3, h4 {
	text-align: center;
}

#tribute-info ul {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}